<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <style>
        .button {
            border: none;
            color: white;
            background-color:black;
            padding: 10px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius:8px;
        }
    </style>
</head>

<body>
    <div style="background-color:lightblue; text-align:center; height:100px ">
        <h2 style="padding-top:40px">Polls App</h2>
    </div>

    <div style="text-align: center; height:250px; margin-left:500px; margin-right:500px;
        margin-top: 50px; border-style: groove">
        <h1 style="padding-top:40px;">Welcome To Pollster</h1>
        <h3>This is a polling app</h3>
        <form action="/poll_questions.html">
            <input type="submit" class="button" value="View Available Polls">
        </form>
    </div>
</body>
</html>